<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dbzdnd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <dbzdnd.Properties.Settings>
            <setting name="Level" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StimCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RecoveryCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnergyCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Credits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StatPoints" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpecPoints" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Strength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BasicAttack" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StrikeSupers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChiBlastSupers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Athletics" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Power" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dexterity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Acrobatics" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Stealth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Speed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Endurance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Constitution" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Health" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Stamina" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Chi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Resistance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Intelligence" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Technology" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Combat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Wisdom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Insight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Medicine" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Perception" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Charisma" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Deception" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Intimidation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Performance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Persuasion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentHealth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentEXP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentChi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentStamina" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayerName" serializeAs="String">
                <value />
            </setting>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Male" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Race" serializeAs="String">
                <value />
            </setting>
            <setting name="Age" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value />
            </setting>
            <setting name="Weight" serializeAs="String">
                <value />
            </setting>
            <setting name="Eyes" serializeAs="String">
                <value />
            </setting>
            <setting name="Skin" serializeAs="String">
                <value />
            </setting>
            <setting name="Alignment" serializeAs="String">
                <value />
            </setting>
            <setting name="Faction" serializeAs="String">
                <value />
            </setting>
            <setting name="Languages" serializeAs="String">
                <value />
            </setting>
        </dbzdnd.Properties.Settings>
    </userSettings>
</configuration>